:root {
  --teal: rgba(28, 115, 118, 0.933);
  --teal_hover: rgba(28, 79, 118, 0.933);
}
* {
  font-family: "Poppins", "sans-serif";
}

.h-font {
  font-family: "Merienda", cursive;
}
.h-line {
  width: 150px;
  margin: 0 auto;
  height: 1px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.custom-bg {
  background-color: var(--teal);
  border: 1px solid var(--teal);
}
.custom-bg:hover {
  background-color: var(--teal_hover);
  border: 1px solid var(--teal_hover);
}
