:root{
    --teal: #279e;
    --teal_hover: #87cefa
}
    *{ 
        font-family: 'Poppins', 'sans-serif';
    }


    .h-font{
        font-family: 'Merienda', cursive;
    }
    .h-line{
        width: 150px;
        margin: 0 auto;
        height: 1px;
    }


    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
    .custom-bg{
        background-color:  var(--teal);
        border: 1px solid  var(--teal);
    }
    .custom-bg:hover{
        background-color:var(--teal_hover);
        border: 1px solid  var(--teal_hover);
    }
    .custom-alert{
        position: fixed;
        top:25px;
        right:25px;
    }
    #dashboard-menu{
        position:fixed;
        height: 100%;
        

    }
    @media screen  and (max-width: 992px) {
        #dashboard-menu{
            height:auto;
            width:100%;

        }
        
    }
    #main-content{
        margin-top: 30px;
    }
   

